absl-py==2.1.0
altgraph==0.17.4
astunparse==1.6.3
auto-py-to-exe==2.44.1
beautifulsoup4==4.12.3
bottle==0.13.1
bottle-websocket==0.2.9
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
clr-loader==0.2.6
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
decorator==4.4.2
Eel==0.17.0
ez_setup==0.9
flatbuffers==24.3.25
fonttools==4.53.1
future==1.0.0
gast==0.6.0
gevent==24.2.1
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.66.1
h5py==3.11.0
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
joblib==1.4.2
keras==3.5.0
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
MouseInfo==0.1.3
moviepy==1.0.3
namex==0.0.8
numpy==1.26.4
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pefile==2024.8.26
pillow==10.4.0
proglog==0.1.10
protobuf==4.25.5
proxy_tools==0.1.0
PyAutoGUI==0.9.54
pycparser==2.22
pygame==2.6.0
PyGetWindow==0.0.9
Pygments==2.18.0
pyinput==0.3.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyMsgBox==1.0.9
pynput==1.7.7
pyparsing==3.1.4
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyqtgraph==0.13.7
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
pythonnet==3.0.3
pytweening==1.2.0
pywebview==5.2
pywin32==306
pywin32-ctypes==0.2.3
requests==2.32.3
rich==13.8.1
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
soupsieve==2.6
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
whichcraft==0.6.1
wrapt==1.16.0
zope.event==5.0
zope.interface==7.0.3
